/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .woocommerce .tips_container {
	border: 1px solid #f0f0f0;
    margin-bottom: 20px;
}

.woocommerce .tips_container>h2 {
	margin-bottom: 0;
    font-size: 1em;
    padding: 9px 12px;
    background-color: #f7f7f7;
}

.woocommerce .tips_container .tips_fields {
	padding: 4px 12px;
}

.woocommerce .tips_container .tips_fields input {
	box-sizing: border-box;
    width: auto;
    margin: 0;
    outline: 0;
    line-height: normal;
}

.woocommerce .tips_container .tips-error {
	font-size: 14px;
    color: #e40a0a;
    display: none;
}

.woocommerce .tips_container .tips-error.active {
	display: inline-block;
}

.woocommerce .tips_container .tips-spinner {
	background: url(./images/spinner.gif) no-repeat;
	-webkit-background-size: 20px 20px; 
	background-size: 20px 20px; 
	display: none;
	width: 20px;
	height: 20px;
}

.woocommerce .tips_container .tips-spinner.active {
	display: inline-block;
}